@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:Ubuntu;
    font-size: 40;
}
.title-font{
    font-family: Anton;
    font-size: 30px;
}

.bg-dark{
    background: #12181b;
}

.bg-low-dark{
    background: #2a2e35;
}